<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tester">
            <h2><span jhiTranslate="crowdtestingApp.tester.detail.title">Tester</span> {{tester.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crowdtestingApp.tester.firstName">First Name</span></dt>
                <dd>
                    <span>{{tester.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="crowdtestingApp.tester.lastName">Last Name</span></dt>
                <dd>
                    <span>{{tester.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="crowdtestingApp.tester.country">Country</span></dt>
                <dd>
                    <span jhiTranslate="{{'crowdtestingApp.Country.' + tester.country}}">{{tester.country}}</span>
                </dd>
                <dt><span jhiTranslate="crowdtestingApp.tester.lastLogin">Last Login</span></dt>
                <dd>
                    <span>{{tester.lastLogin}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tester', tester.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
