<div>
    <h2 id="page-heading">
        <span jhiTranslate="crowdtestingApp.device.home.title">Devices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-device" [routerLink]="['/device/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="crowdtestingApp.device.home.createLabel">
            Create a new Device
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="devices?.length === 0">
        <span jhiTranslate="crowdtestingApp.device.home.notFound">No devices found</span>
    </div>
    <div class="table-responsive" *ngIf="devices?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="crowdtestingApp.device.description">Description</span></th>
            <th scope="col" ><span jhiTranslate="crowdtestingApp.device.tester">Tester</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let device of devices ;trackBy: trackId">
                <td><a [routerLink]="['/device', device.id, 'view' ]">{{device.id}}</a></td>
                <td>{{device.description}}</td>
                <td>
                    <span *ngFor="let tester of device.testers; let last = last">
                            <a class="form-control-static" [routerLink]="['/tester', tester?.id, 'view' ]">{{tester.firstName}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/device', device.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/device', device.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(device)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
