<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bug">
            <h2><span jhiTranslate="crowdtestingApp.bug.detail.title">Bug</span> {{bug.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crowdtestingApp.bug.device">Device</span></dt>
                <dd>
                    <div *ngIf="bug.deviceId">
                        <a [routerLink]="['/device', bug.deviceId, 'view']">{{bug.deviceId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="crowdtestingApp.bug.tester">Tester</span></dt>
                <dd>
                    <div *ngIf="bug.testerId">
                        <a [routerLink]="['/tester', bug.testerId, 'view']">{{bug.testerId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bug', bug.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
