<div>
    <h2 id="page-heading">
        <span jhiTranslate="crowdtestingApp.bug.home.title">Bugs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bug" [routerLink]="['/bug/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="crowdtestingApp.bug.home.createLabel">
            Create a new Bug
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="bugs?.length === 0">
        <span jhiTranslate="crowdtestingApp.bug.home.notFound">No bugs found</span>
    </div>
    <div class="table-responsive" *ngIf="bugs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="crowdtestingApp.bug.device">Device</span></th>
            <th scope="col" ><span jhiTranslate="crowdtestingApp.bug.tester">Tester</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bug of bugs ;trackBy: trackId">
                <td><a [routerLink]="['/bug', bug.id, 'view' ]">{{bug.id}}</a></td>
                <td>
                    <div *ngIf="bug.deviceId">
                        <a [routerLink]="['/device', bug.deviceId , 'view' ]" >{{bug.deviceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bug.testerId">
                        <a [routerLink]="['/tester', bug.testerId , 'view' ]" >{{bug.testerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/bug', bug.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bug', bug.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(bug)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
