

<div class="jumbotron">
    <h2 jhiTranslate="topTesters.title">Let's check who found most bugs!</h2>

    <div class="form-group">

        <label jhiTranslate="topTesters.filter.filterByCountry">Filter by country:</label>

        <ng-select
            [items]="countries"
            [multiple]="true"
            placeholder="{{'topTesters.filter.countryInputPlaceholder' | translate}}"
            bindLabel="id"
            [selectableGroup]="false"
            [closeOnSelect]="false"
            bindValue="id"
            (change)="onFilterChanged()"
            [(ngModel)]="selectedCountries">
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.id}}
            </ng-template>
        </ng-select>

    </div>

    <div class="form-group">

        <label jhiTranslate="topTesters.filter.filterByDevice">Filter by device:</label>

        <ng-select
            [items]="devices"
            [multiple]="true"
            placeholder="{{'topTesters.filter.deviceInputPlaceholder' | translate}}"
            bindLabel="description"
            [selectableGroup]="false"
            [closeOnSelect]="false"
            bindValue="id"
            (change)="onFilterChanged()"
            [(ngModel)]="selectedDevices">
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.description}}
            </ng-template>
        </ng-select>

    </div>

    <button type="submit" (click)="search()"
            class="btn btn-primary btn-bg">
        <fa-icon [icon]="'search'"></fa-icon>
        <span class="d-none d-md-inline" jhiTranslate="topTesters.filter.search">Search</span>
    </button>

</div>


<div class="alert alert-info" role="alert" *ngIf="shouldShowSearchClickNeededInfo()" jhiTranslate="topTesters.searchClickNeededInfo">
    Use the search button when all needed criteria will be set up.
</div>

<div class="alert alert-warning" role="alert" *ngIf="shouldShowNoResultsInfo()" jhiTranslate="topTesters.noResultsInfo">
    It looks like no one found any bugs at given countries and devices. Please refine your search criteria.
</div>

<div class="list-responsive" *ngIf="shouldShowTopTestersList()">
    <ul class="list-group" infinite-scroll (scrolled)="loadTopTesters()" [infiniteScrollDisabled]="noMoreItemsAvailable" [infiniteScrollDistance]="0">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let testerStatProjection of topTesters ;">
        {{testerStatProjection.firstName}} {{testerStatProjection.lastName}}
        <span class="badge badge-primary badge-pill">{{testerStatProjection.bugsAmount}}</span>
    </li>
    </ul>
</div>

<div *ngIf="shouldShowTopTestersLoadInProgressInfo()">
    <span jhiTranslate="topTesters.loadingInProgressInfo">Loading in progress...</span>
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
    <div class="spinner-border text-secondary" role="status">
        <span class="sr-only"></span>
    </div>
    <div class="spinner-border text-success" role="status">
        <span class="sr-only"></span>
    </div>
</div>
